.App {
	text-align: center;
	background-color: #000 !important;
	width: 100vw;
	height: 100vh;
	color: #fff;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

.wordle__header {
	border-bottom: 1px solid #3a3a3c;
	color: #fff !important;
	height: auto !important;
}

.wordle__hint {
	cursor: pointer;
	height: 30px;
	width: 30px;
}

.wordle__hint__image svg {
	margin-left: 15px;
	height: 30px;
	width: 30px;
}

.wordle__pokemon__image {
	height: auto;
	width: 80%;
}

.wordle__hint__pokemon__image {
	filter: blur(10px);
}

.wordle__title {
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
}

.wordle__board {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

.wordle__divider {
	border: 1px solid #fff;
	width: 100%;
}

.wordle__footer {
	padding: 24px 0px !important;
}

.wordle__input {
	text-transform: uppercase;
}

.error_message {
	color: #d8000c;
	margin-top: 15px;
}

.error__image {
	width: 100px;
}

.rotate {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
